.container {
  margin: 0 20px;
}

header {
  width: 100%;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.navlink {
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  text-decoration: none;
  cursor: pointer;
  font-size: large;
  font-weight: 700;
  color: #333;
  transition: all 0.2s;
}

.active {
  color: #d81b60;
}
