/* .filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  max-width: 500px;
  border: 1px solid black;
  border-bottom: none;
}

.filter input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
} */
